@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:#E0E1DD" class="display-4">Scripture Journal</h1>
    <p style="color:#E0E1DD; opacity:.7">An online journal to record thoughts regarding the holy scriptures</p>
</div>
